<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="debug">

    <!--日志处理-->
    <Appenders>
        <!--控制台输出 appender-->
        <Console name="Console" target="SYSTEM_ERR">
            <!--            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] [%-5level] %c{36}:%L -&#45;&#45; %m%n"/>-->
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} | %highlight{%p} | %t | %highlight{%c{2}} |- %m%n"/>
        </Console>

    </Appenders>

    <!--logger 定义-->
    <Loggers>

        <!--使用 rootLogger 配置 日志级别 level="trace"-->
        <Root level="info">
            <!--指定日志使用的处理器-->
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>